# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\quent\HRD+Airria Dropbox\Quentin Prieels\Cours\1. EPL BAC 1\LEPL1502-Simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
